.padding {
  padding: 20px;
}

body {
  margin-right: 100px;
  margin-left: 100px;
}

.title {
  color: darkred;
  font-family: Tahoma;
}

.words {
  font-family: Tahoma;
  font-size: larger;
}

.deadliestWeight {
  width: 600px;
  height: 390px;
}

.deadliestStanceAVG {
  width: 600px;
  height: 310px;
}

.deadliestStance {
  width: 600px;
  height: 300px;
}

hr {
  margin-left: 0px;
  height: 3px;
  color: darkred;
  background-color: darkred;
}

.vl2 {
  border-left: 3px solid darkred;
  height: 240px;
  padding: 12px;
}

.vl {
  border-left: 3px solid darkred;
  height: 310px;
  padding: 12px;
}
